*.7z filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bin~ filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.bsc filter=lfs diff=lfs merge=lfs -text
*.cat filter=lfs diff=lfs merge=lfs -text
*.cer filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.dblite filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.elf filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.exp filter=lfs diff=lfs merge=lfs -text
*.idb filter=lfs diff=lfs merge=lfs -text
*.idx filter=lfs diff=lfs merge=lfs -text
*.ilk filter=lfs diff=lfs merge=lfs -text
*.iobj filter=lfs diff=lfs merge=lfs -text
*.ipch filter=lfs diff=lfs merge=lfs -text
*.ipdb filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.lnk filter=lfs diff=lfs merge=lfs -text
*.key filter=lfs diff=lfs merge=lfs -text
*.metadata filter=lfs diff=lfs merge=lfs -text
*.mkv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.o filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.plateupsave filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.rev filter=lfs diff=lfs merge=lfs -text
*.sbr filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
*.suo filter=lfs diff=lfs merge=lfs -text
*.sys filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.vlw filter=lfs diff=lfs merge=lfs -text
*.vsdx filter=lfs diff=lfs merge=lfs -text
*.vsidx filter=lfs diff=lfs merge=lfs -text
*.wsuo filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
.7z filter=lfs diff=lfs merge=lfs -text
.a filter=lfs diff=lfs merge=lfs -text
.bin filter=lfs diff=lfs merge=lfs -text
.bin~ filter=lfs diff=lfs merge=lfs -text
.bmp filter=lfs diff=lfs merge=lfs -text
bsc filter=lfs diff=lfs merge=lfs -text
cat filter=lfs diff=lfs merge=lfs -text
.cer filter=lfs diff=lfs merge=lfs -text
.class filter=lfs diff=lfs merge=lfs -text
.dat filter=lfs diff=lfs merge=lfs -text
.db filter=lfs diff=lfs merge=lfs -text
.dblite filter=lfs diff=lfs merge=lfs -text
.dll filter=lfs diff=lfs merge=lfs -text
.docx filter=lfs diff=lfs merge=lfs -text
.download filter=lfs diff=lfs merge=lfs -text
.elf filter=lfs diff=lfs merge=lfs -text
.exe filter=lfs diff=lfs merge=lfs -text
.exp filter=lfs diff=lfs merge=lfs -text
.gif filter=lfs diff=lfs merge=lfs -text
.idb filter=lfs diff=lfs merge=lfs -text
.idx filter=lfs diff=lfs merge=lfs -text
.ilk filter=lfs diff=lfs merge=lfs -text
.iobj filter=lfs diff=lfs merge=lfs -text
.ipch filter=lfs diff=lfs merge=lfs -text
.ipdb filter=lfs diff=lfs merge=lfs -text
.jar filter=lfs diff=lfs merge=lfs -text
.jpg filter=lfs diff=lfs merge=lfs -text
.lib filter=lfs diff=lfs merge=lfs -text
.lnk filter=lfs diff=lfs merge=lfs -text
.key filter=lfs diff=lfs merge=lfs -text
.metadata filter=lfs diff=lfs merge=lfs -text
.mkv filter=lfs diff=lfs merge=lfs -text
.mp4 filter=lfs diff=lfs merge=lfs -text
.msi filter=lfs diff=lfs merge=lfs -text
.node filter=lfs diff=lfs merge=lfs -text
.o filter=lfs diff=lfs merge=lfs -text
.obj filter=lfs diff=lfs merge=lfs -text
.pack filter=lfs diff=lfs merge=lfs -text
.pdb filter=lfs diff=lfs merge=lfs -text
.pdf filter=lfs diff=lfs merge=lfs -text
.plateupsave filter=lfs diff=lfs merge=lfs -text
.png filter=lfs diff=lfs merge=lfs -text
.pyc filter=lfs diff=lfs merge=lfs -text
.pyd filter=lfs diff=lfs merge=lfs -text
.rar filter=lfs diff=lfs merge=lfs -text
.raw filter=lfs diff=lfs merge=lfs -text
.rev filter=lfs diff=lfs merge=lfs -text
.sbr filter=lfs diff=lfs merge=lfs -text
.sqlite filter=lfs diff=lfs merge=lfs -text
.suo filter=lfs diff=lfs merge=lfs -text
.sys filter=lfs diff=lfs merge=lfs -text
.ttf filter=lfs diff=lfs merge=lfs -text
.vlw filter=lfs diff=lfs merge=lfs -text
.vsdx filter=lfs diff=lfs merge=lfs -text
.vsidx filter=lfs diff=lfs merge=lfs -text
.war filter=lfs diff=lfs merge=lfs -text
.wsuo filter=lfs diff=lfs merge=lfs -text
.xlsx filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
